/biruse_kolco/.gradle
/biruse_kolco/.idea
/biruse_kolco/.tz
/biruse_kolco/build
.gradle/
build/
local.properties
**/.gradle/
**/build/
.idea/*
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml
/gradle/
/gradlew
/gradlew.bat
